### IntelliJ IDEA ###
# User-specific stuff
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/



### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommendersbin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/*

### Mac OS ###
.DS_Store